<template>
    <app-layout title="Homepage">
        <template #header>
                <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                    Home
                </h2>
        </template>

        <div class="flex-row flex w-full justify-evenly mt-7">
            <div class="border-2 p-5 text-center">
                <img src="https://picsum.photos/400/300" alt="Errore" class="mx-auto"> <br>
                <p class="w-96">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor veritatis tempora possimus.<br>
                    Dolor veritatis tempora possimus facere ipsa similique dicta doloribus reiciendis neque id. <br>
                    Consequatur doloremque eaque quasi corporis temporibus, ducimus quia aliquid expedita? <br>
                </p>
            </div>
                    
            <div class="border-2 p-5 text-center">
                <img src="https://picsum.photos/400/300" alt="Errore" class="mx-auto"> <br>
                <p class="w-96">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br> 
                    Alias, consequuntur! Optio voluptatibus necessitatibus alias rerum veniam asperiores voluptates, <br> 
                    tempore placeat dolores reprehenderit maxime, illum ipsam aut dolore consequatur corporis quo.
                </p>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import { defineComponent } from 'vue'
    import AppLayout from '@/Layouts/AppLayout.vue'
    import Welcome from '@/Jetstream/Welcome.vue'
    import { Head, Link } from '@inertiajs/inertia-vue3';

    export default defineComponent({
        components: {
            AppLayout,
            Welcome,
            Head,
            Link
        },
    })
</script>
