<template>
    <Head title="Welcome" />

    <div class="relative min-h-screen bg-gray-100 dark:bg-gray-900 sm:items-center sm:pt-0">
        <div v-if="canLogin" class="hidden fixed top-0 right-0 px-6 py-4 sm:block">
            <span v-if="$page.props.user" class="mx-8">
                Benvenuto {{$page.props.user.name}}
            </span>
            <Link v-if="$page.props.user" :href="route('companies.index', $page.props.user.id)">
                <button class=" bg-cyan-700 hover:bg-cyan-200 text-white hover:text-cyan-700 px-2 py-1 rounded-md font-semibold">
                    Homepage
                </button>
            </Link>

            <template v-else>
                <Link :href="route('login')" class="mr-5">
                    <button class=" bg-cyan-700 hover:bg-cyan-200 text-white hover:text-cyan-700 px-4 py-2 rounded-md font-semibold">
                        Login
                    </button>
                </Link>

                <Link v-if="canRegister" :href="route('register')">
                    <button class=" bg-cyan-700 hover:bg-cyan-200 text-white hover:text-cyan-700 px-4 py-2 rounded-md font-semibold">
                        Registrati
                    </button>
                </Link>
            </template>
        </div>
        <div class="w-full flex justify-center pt-14 pb-7">
            <jet-application-mark class="block h-24 w-auto" />
        </div>
        <div class="w-full text-center pb-7">
            <h1 class=" font-medium">Lorem</h1>
        </div>
        <div class="flex-row flex w-full justify-evenly">
            <div class="border-2 p-5 text-center">
                <img src="https://picsum.photos/500/250" alt="Errore" class="mx-auto"> <br>
                <p class="w-96">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor veritatis tempora possimus.<br>
                    Dolor veritatis tempora possimus facere ipsa similique dicta doloribus reiciendis neque id. <br>
                    Consequatur doloremque eaque quasi corporis temporibus, ducimus quia aliquid expedita? <br>
                </p>
            </div>
            <div class="border-2 p-5 text-center">
                <img src="https://picsum.photos/500/250" alt="Errore" class="mx-auto"> <br>
                <p class="w-96">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br> 
                    Alias, consequuntur! Optio voluptatibus necessitatibus alias rerum veniam asperiores voluptates, <br> 
                    tempore placeat dolores reprehenderit maxime, illum ipsam aut dolore consequatur corporis quo.
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    import { defineComponent } from 'vue'
    import JetButton from '@/Jetstream/Button';
    import { Head, Link } from '@inertiajs/inertia-vue3';
    import JetApplicationMark from '@/Jetstream/ApplicationMark.vue'

    export default defineComponent({
        components: {
            JetButton,
            Head,
            Link,
            JetApplicationMark
        },

        props: {
            canLogin: Boolean,
            canRegister: Boolean,
        }
    })
</script>
