<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 flex flex-row justify-between leading-tight">
                Utenti
                <Link v-if="!authCompany" :href="route('companies.create')">
                    <h3 class="text-blue-600 hover:text-black hover:underline">
                        Hai un azienda? Lavora con noi
                    </h3>
                </Link>
                <Link v-if="authCompany" :href="route('companies.show', authCompany)">
                    <h3 class="text-blue-600 hover:text-black hover:underline">
                        I tuoi dati
                    </h3>
                </Link>
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="flex flex-col">
                  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-4 lg:px-8">
                      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                        <table class="min-w-full divide-y divide-gray-200">
                          <thead class="bg-gray-50">
                            <tr>
                              <th scope="col" class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nome</th>
                              <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Ragione sociale</th>
                              <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Ruolo</th>
                              <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"></th>
                              <th v-if="$page.props.user.is_admin===1" scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"></th>
                            </tr>
                          </thead>
                          <tbody v-for="user in users" :key="user.id" class="bg-white divide-y divide-gray-200">
                            <tr v-for="company in companies" :key="company.id">
                                <td v-if="company.user_id===user.id" class="px-6 py-4 whitespace-nowrap">
                                  <div class="flex items-center">
                                    <div class="ml-2">
                                      <div class="text-sm font-medium text-gray-900">{{user.name}}</div>
                                      <div class="text-sm text-gray-500">{{user.email}}</div>
                                    </div>
                                  </div>
                                </td>
                                <td v-if="company.user_id===user.id" class="pl-8 py-4 whitespace-nowrap">
                                  <div class="text-sm text-gray-900">
                                      {{company.business_name}}
                                  </div>
                                  <div class="text-sm text-gray-500">{{company.business_email}}</div>
                                </td>
                                <td v-if="company.user_id===user.id" class="px-6 py-4 whitespace-nowrap">
                                  <div class="flex items-center">
                                    <div class="ml-2">
                                      <div v-if="user.is_admin" class="text-sm font-medium text-gray-900">Admin</div>
                                      <div v-else class="text-sm font-medium text-gray-900">User</div>
                                    </div>
                                  </div>
                                </td>
                                <td v-if="company.user_id===user.id" class="px-4 py-4 whitespace-nowrap text-right text-sm font-medium">
                                  <Link v-if="authCompany" :href="route('companies.show', company)">
                                      <h3 class="text-blue-600 hover:text-black hover:underline">
                                          Vedi
                                      </h3>
                                  </Link>
                                </td>
                                <td v-if="company.user_id===user.id">
                                  <Link v-if="role===1" method="delete" as="button" type="button" :href="route('users.destroy', user.id)" class="mx-20">
                                      <button class="bg-red-500 hover:bg-red-400 text-white px-4 py-2 rounded-md font-semibold text-sm">
                                          Elimina
                                      </button>
                                  </Link>
                                </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout';
    import JetButton from '@/Jetstream/Button';
    import { defineComponent } from 'vue'
    import { Link } from '@inertiajs/inertia-vue3';
    import DeleteUserForm from '@/Pages/Profile/Partials/DeleteUserForm.vue'


    export default defineComponent({
        components: {
            AppLayout,
            JetButton,
            Link,
            DeleteUserForm 
        },
        props: ['users', 'companies', 'authCompany', 'role'],
    })
</script>
