
<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Informazioni utente
            </h2>
        </template>
            <div class="bg-white shadow min-h-screen text-center py-10">
                <div class="px-4 py-5 sm:px-6 w-auto">
                    <h2 class="text-lg leading-6 font-medium text-gray-900">{{show.name}}</h2>
                    <p class="py-2 text-gray-500">{{show.email}}</p>
                    <p>Account creato il: {{show.created_at}}</p> <br>
                    <h2 class="text-lg leading-6 font-medium text-gray-900">Ragione sociale: {{company.business_name}}</h2>
                    <p class="py-2 text-gray-500">Email: {{company.business_email}}</p>
                    <p class="py-2">Regione: {{company.region}}</p>
                    <p class="py-2">Provincia: {{company.province}}</p>
                    <p class="py-2">Città: {{company.city}}</p>
                    <p class="py-2">CAP: {{company.cap}}</p>
                    <p class="py-2">Indirizzo: {{company.address}}</p> <br>
                </div>
                <div v-if="company.user_id===auth.id" class="px-4 py-5 sm:px-6 ">
                    <Link method="delete" as="button" type="button" :href="route('companies.destroy', company.id)" class="mx-20">
                        <button class="bg-red-500 hover:bg-red-400 text-white px-4 py-2 rounded-md font-semibold text-sm">
                            Elimina
                        </button>
                    </Link>
                    <Link :href="route('companies.edit', company)" class="mx-20">
                        <jet-button>Modifica</jet-button>
                    </Link>
                </div>
                <div v-else-if="auth.is_admin===1" class="px-4 py-5 sm:px-6 ">
                    <Link method="delete" as="button" type="button" :href="route('users.destroy', show.id)" class="mx-20">
                        <button class="bg-red-500 hover:bg-red-400 text-white px-4 py-2 rounded-md font-semibold text-sm">
                            Elimina
                        </button>
                    </Link>
                </div>
            </div>
    </app-layout>
</template>
<script>
    import AppLayout from '@/Layouts/AppLayout';
    import JetButton from '@/Jetstream/Button';
    import { defineComponent } from 'vue'
    import { Link } from '@inertiajs/inertia-vue3';

    export default defineComponent({
        components: {
            AppLayout,
            JetButton,
            Link,
        },
        props: ['show', 'company', 'auth'],
    })
</script>
